* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: lato;
	font-size: 1.6rem;
	height: 100%;
}
button {
	cursor: pointer;
}
.container-register {
	padding: 30px;
}
.container-register {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 30px;
	grid-column-gap: 30px;
	min-height: 100vh;
}

.img-container {
	background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
		url("../images/header.jpg");
	background-position: center;
	background-size: cover;
}
.signup-container {
	animation: fadeInLeft 0.8s ease-in-out;
	border: 1px solid #eeeeee;
	display: flex;
	border-radius: 3px;
	flex-direction: column;
	align-items: center;
	padding: 20px 0;
}
.logo-name {
	color: #4db265;
}
.signup-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70%;
}
.login-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70%;
	height: 60%;
	margin-top: 12%;
	justify-content: space-around;
}

.heading-big {
	text-transform: uppercase;
	font-size: 40px;
	color: #358247;
	font-weight: normal;
	margin: 25px 0;
}

.profile-pic_container {
	display: flex !important;
	flex-direction: column;
	align-items: center;
}

.profile-pic-box {
	width: 70px;
	height: 70px;
	margin-bottom: 1rem;
	border-radius: 100%;
	border: 1px solid #ccc;
	display: flex;
	justify-content: center;
	overflow: hidden;
	align-items: center;
}

.profile-pic-box i {
	font-size: 42px;
	color: #151515;
}

.profile-pic-box img {
	width: 100%;
}

.input-container {
	position: relative;
	display: inline-block;
	width: 100%;
}

.input-container-half {
	width: 48%;
}
.margin-r-input {
	margin-right: 3%;
}
.input-container {
	margin-bottom: 2.5rem;
}

.input {
	padding: 0.9rem 1.7rem;
	border-radius: 3px;
	border: 1px solid #c9c9c9;
	width: 100%;
	color: #1a1a1a;
	font-size: 1.5rem;
}

.input:focus {
	outline: none;
	border: 1px solid #5eb873;
	box-shadow: 0px 0px 1px 1px #5eb87344;
}

.input-error {
	border: 1px solid #fd7d7d;
	box-shadow: 0px 0px 1px 1px #ff8f8f;
}

.input-label {
	position: absolute;
	font-size: 1.3rem;
	top: 10px;
	text-align: center;
	color: #797979;
	left: 10px;
	opacity: 0;
	z-index: -1;
	background-color: #fff;
	height: 10px;
	padding: 0 7px;
	transition: all 0.2s ease-in-out;
}
.file {
	display: none;
}
.input:focus ~ .input-label {
	z-index: 1;
	opacity: 1;
	color: #5eb873;
	display: inline;
	top: -9px;
}

.empty {
	z-index: 1;
	opacity: 1;
	color: #5eb873;
	display: inline;
	top: -9px;
}

.btn-inline {
	background-color: transparent;
	border: none;
	color: #3d794b;
	font-size: 1.5rem;
}

.btn-primary {
	border: none;
	background-color: #49a165;
	color: #fff;
	font-weight: bold;
	margin-top: 15px;
	font-size: 1.5rem;
	text-transform: capitalize;
	border-radius: 3px;
	padding: 7px 15px;
}

.optional-address {
	animation: fadeInDown 0.3s ease-in;
}
.news-sub {
	display: none;
}

.unchecked {
	width: 15px;
	height: 15px;
	background-color: #5eb873;
	border-radius: 3px;
	border: 1.5px solid #3d8c56;
}

.checked {
	width: 15px;
	height: 15px;
	background-color: #5eb873;
	display: none;
	align-items: center;
	justify-content: center;
	font-size: 13px;
	color: #165a2c;
	border-radius: 3px;
	border: 1.5px solid #3d8c56;
}
.check-box {
	display: flex;
	align-items: center;
	width: 220px;
	justify-content: space-between;
	margin-bottom: 5px;
}
.popup {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.2);
	width: 100%;
	display: none;
	height: 100%;
	z-index: 99999;
	top: 0;
	left: 0;
}

@media only screen and (max-width: 970px) {
	.margin-r-input {
		margin-right: 2.7%;
	}
}
@media only screen and (max-width: 800px) {
	.container-register {
		grid-template-columns: 1fr;
	}
	.img-container {
		display: none;
	}
	.heading-big {
		font-size: 60px;
	}
	.signup-content {
		height: 100%;
		justify-content: center;
	}
	.form-signup {
		height: 80%;
		margin-top: 20px;
	}
	.input-container:not(:last-child) {
		margin-bottom: 23px;
	}
	.btn-primary {
		width: 100%;
		padding: 10px 0;
	}
	.profile-pic_container {
		margin-bottom: 50px !important;
	}
}

@media only screen and (max-width: 450px) {
	.margin-r-input {
		margin: 0;
	}
	.heading-big {
		font-size: 40px;
	}
	.profile-pic_container {
		margin-bottom: 50px !important;
	}
	.input-container-half {
		width: 100%;
	}
	.input-container:not(:last-child) {
		margin-bottom: 20px;
	}
}

/* 404 */
.pagenotfound-text {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pagenotfound-text_message {
	text-align: center;
	font-size: 30px;
	font-weight: normal;
	margin-bottom: 30px;
}
.button-primary-style {
	padding: 10px 20px;
	border-radius: 30px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	text-transform: uppercase;
	background-image: linear-gradient(-90deg, #5eb873, #387e4e);
	transition: background-image 1s ease;
}
.button-primary-style:hover {
	background-image: linear-gradient(90deg, #5eb873, #387e4e);
}

.remove-link {
	text-decoration: none;
}

.pagenotfound-img img {
	width: 30%;
}
.pagenotfound-img {
	display: flex;
	/* align-items: center; */
	justify-content: center;
	margin-bottom: 80px;
}

.navigation-top {
	width: 100%;
	background-color: #fff;
	display: flex;
	box-shadow: 0px 1px 10px #0000001c;
	padding: 23px 100px;
	align-items: center;
	justify-content: space-between;
}

.navigation-container {
	display: flex;
	list-style: none;
}
.navigation-logo {
	width: 100px;
}
.navigation-item {
	margin: 0 20px;
	font-size: 16px;
}
.navigation-item a {
	color: #0c0c0c;
	text-decoration: none;
	border: 1px solid #2aa200;
	padding: 6px 20px;
	font-weight: 700;
	font-size: 17px;
	text-transform: capitalize;
	border-radius: 20px;
}
.btn-primary {
	color: #fff !important;
	background-color: #2aa200;
	/* border: 1px solid #2aa200 !important; */
}

@media only screen and (max-width: 800px) {
	.navigation-top {
		padding: 20px 50px;
	}

	.pagenotfound-img img {
		width: 60%;
	}
}

@media only screen and (max-width: 450px) {
	.navigation-top {
		padding: 20px 20px;
	}

	.pagenotfound-img img {
		width: 75%;
	}

	.navigation-item {
		margin: 0 7px;
		font-size: 15px;
	}

	.navigation-item a {
		padding: 8px 10px;
		font-size: 15px;
	}
}
@media only screen and (max-width: 320px) {
	.navigation-top {
		padding: 20px 20px;
	}

	.navigation-item {
		margin: 0 3px;
		font-size: 13px;
	}

	.navigation-item a {
		padding: 8px 5px;
		font-size: 13px;
	}
}
